{
  "repositoryConfigs": [
    {
      "url": "https://github.com/",
      "username": "<USER-NAME>",
      "password": "<ACCESS-TOKEN>",
      "type": "GITHUB"
    },
    {
      "url": "https://gitlab.xxx.yyy.com/",
      "username": "<USER-NAME>",
      "password": "<ACCESS-TOKEN>",
      "type": "GITLAB"
    }
  ]
}
